<%- include('./partial/header.ejs') %>


<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1> WellCome To OTP Verification Project</h1>
</div>


<%- include('./partial/footer.ejs') %>