<%- include('./partial/header.ejs') %>


<br>
<form method="post" action="/verify" >
<div class="main">
    <div class="row mb-3">
        <label for="otp" class="col-sm-2 col-form-label">Enter OTP</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="otp" name="otp">
        </div>
    </div>
    <div class="text-center my-3 mx-5">
        <button type="submit" class="btn btn-primary">Verify</button>
    </div>
</div>

    
</form>


<%- include('./partial/footer.ejs') %>